html {
    height:100%;
}

body {
    font-family: Calibri;
    text-align: center;
    background: url(img/pinstripe.png);/* Background pattern from Subtle Patterns */
    margin: 0;
    padding:0;
    min-height: 100%;
    position: relative;
    width:100%;
}

#header{
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: 800;
    margin: 0;
    padding: 0;
    height: 60px;
    font-family: 'Gloria Hallelujah', cursive;
}

#logo{
    height: 60px;
    background-color: #333;
    border-bottom: 2px black dotted;
}

.car{
    width:100px;
    height: 70px;
}

#content{
    padding-top: 100px;
}

#footer{
    height: 30px;
    color: papayawhip;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    /*margin-top: -30px;*/
}

#footercontent{
    height: 30px;
    background-color: #222;
    border-top: 2px black dotted;
}

#car{
    position: absolute;
    left: 10px;
    transition: transform 2s 0s ease-in;
    width:100px;
    height: 70px;
}

#car:hover{
    transform: translateX(1700px);
}

#car-mirror{
    position: absolute;
    right: 10px;
    transition: transform 2s 0s ease-in;
    width:100px;
    height: 70px;
}

#car-mirror:hover{
    transform: translateX(-1700px);
}

.container {
    width: 80%;
    margin: 30px;
}

.photo{
    margin-top:50px;
    width:300px;
    height:200px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 40px 5px rgba(0,0,0,0.68);
    -moz-box-shadow: 0px 0px 40px 5px rgba(0,0,0,0.68);
    box-shadow: 0px 0px 40px 5px rgba(0,0,0,0.68);
    margin-left:20px;
    margin-right:20px;

}

#reg_form .inputGroupContainer .form-control-feedback,
#reg_form .selectContainer .form-control-feedback {
    top: 0;
    right: -30px;
}

#success_message{ display: none;}

.dropdown, .btn, .btn-default, .dropdown-toggle{
    text-align: center;
}

.buttons, .radio_input {
    display: flex;
    justify-content: center;
}
.btn-primary-outline {
    background-color: transparent;
    border-color: #ccc;
}
.text_input {
    text-align: left;
    display: inline-block;
    margin:0 auto;
}
.data {
    text-align: left;
    display: inline-block;
    margin:0 auto;
}
.result {
    text-align: center;
}
.error {
    color: red;
}
table {
    border: 1px solid #ddd;
    display: inline-block;
    margin:0 auto;
    border-collapse: collapse;
}
th {
    border: 1px solid #ddd;
    text-align: right;
    padding: 10px;
}
td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}
h1 {
    color: black;
    text-align: center;
}
h2, h3 {
    color: darkblue;
    text-align: center;
}
pre {
    font-family: Tahoma;
}
select {
    display: block;
    margin: auto;
}

.btn-outline-inverse:hover{
    background-color: rgba(13, 147, 176, 0.94);
}
