<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<sucurrencyCodename="example suite 1" verbose="1" >-->
    <!--<tcurrencyCodename="Testing, testing, 1,2,3..." >-->
        <!--<classes>-->
            <!--<clcurrencyCodename="com.infoshareacademy.jjdd1.teamerror.TripFullCostTest"/>-->
            <!--<clcurrencyCodename="com.infoshareacademy.jjdd1.teamerror.TrendyTest"/>-->
            <!--<clcurrencyCodename="com.infoshareacademy.jjdd1.teamerror.DateParserTest"/>-->
        <!--</classes>-->
    <!--</test>-->
<!--</suite>-->