<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<suite name="example suite 1" verbose="1" >-->
    <!--<test name="Testing, testing, 1,2,3..." >-->
        <!--<classes>-->
            <!--<class name="com.infoshareacademy.jjdd1.teamerror.TripFullCostTest"/>-->
            <!--<class name="com.infoshareacademy.jjdd1.teamerror.trendy_engine.TrendyTestTest"/>-->
            <!--<class name="com.infoshareacademy.jjdd1.teamerror.DateParserTest"/>-->
        <!--</classes>-->
    <!--</test>-->
<!--</suite>-->